body {
    font-family: 'Black Ops One', cursive;
}

.hugo-color-1 {
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E0E00, #1F1C18);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E0E00, #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*Profile Card 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#8E0E00;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#8E0E00;
    border-color:#8E0E00;
}




.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-ravi img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-ravi figcaption {
    text-align: left;
}

figure.effect-ravi figcaption>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-ravi h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-ravi p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-ravi:hover img,
figure.effect-ravi:hover p {
    opacity: 1;
}

figure.effect-ravi:hover img,
figure.effect-ravi:hover h2,
figure.effect-ravi:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-ravi:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}





.slider-title{
    text-align:center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }


  .portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}





.item-title-h3 {
    color: rgba(31,181,172,.9);
  }
  .text{
      color: rgba(31,181,172,.9);
      text-align: center;
  }
  
  
  .folded-corner:hover .text{
      visibility: visible;
      color: #000000;;
  }
  .Services-tab{
      margin-top:20px;
      
  
  }
  
  /*
    nav link items
  */
  .folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #999; 
    background: transparent;
    transition: all ease .5s;
    border: 1px solid rgba(31,181,172,.9);
  }
  .folded-corner:hover{
      background-color: rgba(31,181,172,.9);
  }
  
  /*
    paper fold corner
  */
  
  .folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
  }
  
  /*
    on li hover make paper fold larger
  */
  .folded-corner:hover:before {
      background-color: #D00003;
    border-width: 0 50px 50px 0;
    border-color: #eee #000;
    
  }
  
  .service_tab_1{
      background-color: #000;
  }
  .service_tab_1:hover .fa-icon-image{
      color: #000;
      transform: rotate(360deg) scale(1.5);
  }
  
  
  .fa-icon-image{
      color: rgba(31,181,172,.9);
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      font-size-adjust: none;
      font-stretch: normal;
      -moz-font-feature-settings: normal;
      -moz-font-language-override: normal;
      text-rendering: auto;
      transition: all .65s linear 0s;
      text-align: center;
      transition: all 1s cubic-bezier(.99,.82,.11,1.41);
  }
  


  .ul-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
    }
    .ul-style > .li-style{
    list-style: none;
    margin: 0 40px;
    
    }
    .ul-style > .li-style > a > .fab{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
    }
    .ul-style > .li-style > a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
    }
    .ul-style > .li-style > a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
    }
    .ul-style > .li-style > a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
    }
    .ul-style > .li-style > a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .ul-style > .li-style:hover > a > .fab{
    color: #fff;
    }
    .ul-style > .li-style > a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .ul-style > .li-style:hover:nth-child(1) > a{
    background: #3b5999;
    }
    
    .ul-style > .li-style:hover:nth-child(1) > a:before{
    background: #2e4a86;
    }
    .ul-style > .li-style:hover:nth-child(1) > a:after{
    background: #4a69ad;
    }
    .ul-style > .li-style:hover:nth-child(2) > a{
    background: #55acee;
    }
    .ul-style > .li-style:hover:nth-child(2) > a:before{
    background: #4184b7;
    }
    .ul-style > .li-style:hover:nth-child(2) > a:after{
    background: #4d9fde;
    }
    .ul-style > .li-style:hover:nth-child(3) > a{
    background: #dd4b39;
    }
    .ul-style > .li-style:hover:nth-child(3) > a:before{
    background: #c13929;
    }
    .ul-style > .li-style:hover:nth-child(3) > a:after{
    background: #e83322;
    }
    .ul-style > .li-style:hover:nth-child(4) > a{
    background: #0077B5;
    }
    
    .ul-style > .li-style:hover:nth-child(4) > a:before{
    background: #036aa0;
    }
    .ul-style > .li-style:hover:nth-child(4) > a:after{
    background: #0d82bf;
    }
    
    .ul-style > .li-style:hover:nth-child(5) > a{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    
    .ul-style > .li-style:hover:nth-child(5) > a:before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    .ul-style > .li-style:hover:nth-child(5) > a:after{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }

    @media (max-width: 600px) {
        .query1 {
            font-size: 3.4rem;
        }
        .query2 {
            margin-top: 200px;
            margin-bottom: 200px;
        }

        .ul-style {
            display: block;
        }
    }